body {
    padding: 20px;
}

.rotating-icon {
    display: inline-block;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes twist-up {
    to {
        transform: rotateX(360deg);
    }
}

button {
    padding: 0.7rem;
    border: none;
    background-color: green;
    color: white;
    font-weight: bold;
}

input,
select {
    padding: 0.7rem;
}

mrb-1 {
    margin-bottom: 1rem;
}
